@model IEnumerable<WebsiteBanGiayDep23.Models.EF.Order>

@if (Model != null)
{
    var i = 1;
    <h2>Lịch sử mua hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Mã đơn hàng</td>
                <td>Tổng tiền</td>
                <td>Số lượng</td>
                <td>Phương thức thanh toán</td>
                <td>Tình trạng đơn hàng</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.Quantity</td>
                    <td>@item.TypePayment</td>
                    <td>@item.Status</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}